<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/stylesheet2.css">
    <title>Ryo de Share!</title>
  </head>
  <body>
    <header>
        <h1 class="headline">
            <a>Ryo de Share!</a>
        </h1>
    </header>
    
    <div class="tab_login">
        <h1 class="titlebox">ログイン</h1>
        <form action="/_login" method="POST">
            <div class="form-group">
                <label>寮生番号</label>
                <input type="text" name="number" class="form-control">
	    </div>
	    <div class="form-group">
                <label>パスワード</label>
                <input type="password" name="password" class="form-control">
            </div>
            <button type="submit">ログイン</button>
	</form>
    </div>


    <footer>
        <p>熊本高等専門学校八代キャンパス情報システム研究部</p>
    </footer>
    
  </body>

</html>
