<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Ryo de Share! | ログイン</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-clockpicker.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- 2.ヘッダ情報 -->
            <div class="navbar-header">
                <a class="navbar-brand">Ryo de Share! 寮生活支援システム</a>
            </div>
            <!-- 3.リストの配置 -->
            
        </div>
    </nav>
    <div class="d-flex flex-column-reverse bd-highlight">
        <div class="p-2 bd-highlight">
            <div class="container">
                <form action="/_login" method="post">
                    <div class="form-group">
                      <label>寮生番号</label>
		      <h1> {{ID}} </h1>
                      <h1>{{ pas }}</h1>
		      <h2> {{pos}} </h2>
                      <input type="text" name="number" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>password</label>
                      <input type="password" name="password" class="form-control">
                    </div>
                    <button type="submit">ログイン</button>
                </form>
            </div>
        </div>
    </div>
  </body>
</html><html><head><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"><meta name="Robots" content="NOINDEX " /></head><body></body>
                <script type="text/javascript">
                 var gearPage = document.getElementById('GearPage');
                 if(null != gearPage)
                 {
                     gearPage.parentNode.removeChild(gearPage);
                     document.title = "\u30A8\u30E9\u30FC";
                 }
                 </script>
                 </html>
